<template>
  <div class="devices">
    <b-container> 
    	<div class='fg-left'>
    		<h4>
    			Clientes  
    			<b-btn variant='custom_variant_button' v-b-modal.form_reg @click='form_reg.edit=false;'>
					<font-awesome-icon icon='plus'></font-awesome-icon>
				</b-btn>
    		</h4>
    	</div>
    	<b-modal ref='form_reg' id="form_reg" :title="form_reg.edit ? 'Edit Device':'New Device'" size='sm' @ok="newDevice"> 
    		<b-form-group  
		      	label="Tipo Doc" class='fg-left'
		  	>
		    	<b-form-select 
		    		v-model="form_reg.type_doc.selected" 
		    		:options="form_reg.type_doc.options" 
		    		class="mb-3"  />
		  	</b-form-group> 
    		<b-form-group  
		      	label="Documento" class='fg-left'
		  	>
		    	<b-form-input v-model="form_reg.document"
                  type="text"
                  placeholder=""></b-form-input>
		  	</b-form-group>
    		<b-form-group  
		      	label="Cliente" class='fg-left'
		  	>
		    	<b-form-input v-model="form_reg.name"
                  type="text"
                  placeholder=""></b-form-input>
		  	</b-form-group>
    		
  		</b-modal>
    	<b-form-input class='custom_font' v-model="list.filter" 
                  placeholder="Filtrar"></b-form-input>
    	<table class='table table-hover table-list custom_font' >
    		<thead>
    			<th v-for='val in list.header'>{{val}}</th>
    		</thead>
    		<tbody v-if='list.data.length>0'>
    			<tr v-for='(item,index) in list.data'>
    				<td>{{item.client}}</td>
    				<td>{{item.type_doc + " / "+item.document}}</td> 
    				<td class='actions custom_font'> 
    					<b-btn variant='custom_variant_button' @click="editReg(item)">
    						<font-awesome-icon icon='edit'></font-awesome-icon>
    					</b-btn>
    				</td>
    			</tr>
    		</tbody>
    		<tbody v-else>
    			<td :colspan='list.header.length'>Sin registros</td>
    		</tbody>
    	</table>
    </b-container>

  </div>
</template>

<script> 
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { faPlus,faEdit,faCloudDownloadAlt } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit)
library.add(faCloudDownloadAlt)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';
 
export default{
	data(){
		return { 
			server_host:process.env.SERVER_URL,
			list:{
				filter:'',
				header:[
					'Cliente', 
					'Documento', 
					'Acciones', 
				],
				data:[
					{
						client:'Azure', 
						type_doc:'RUC', 
						document:'324234', 
					},
					{
						client:'Mam', 
						type_doc:'DNI', 
						document:'324234', 
					},
				],
			},
			form_reg:{
				edit:false,
				type_doc:{
					selected:'',
					options:[
						{text:'--Select--',value:''},
						{text:'DNI',value:'DNI'},
						{text:'RUC',value:'RUC'},
					],
				}, 
				name:'', 
			},
		};
	},
	mounted(){

	},
	methods:{  
		newDevice(){
			let obj = {};
			obj.client = this.form_reg.name;
			obj.document = this.form_reg.document;
			obj.type_doc = form_helpers.getSelected(this.form_reg.type_doc.options,this.form_reg.type_doc.selected)['text'];  
			
			this.list.data.push(obj); 
		}, 
		editReg(device){
			this.form_reg.edit = true;
			this.$refs.form_reg.show();
		},
	},
	watch:{

	}
}
</script>
<style type="text/css"> 
	.table-list{
		/*text-align: left; */
	}
	.actions{
		min-width: 140px;	
	}
	.actions>button{
		margin: 1px 3px;
		/*font-size:12px;*/
	}
	.custom_font{
		
		/*
		font-size: 12px;
		*/
	}
	.btn-custom_variant_button{
		color:#237abd;
		background: white;
	}
	.fg-left{
		text-align: left;
	}
</style>
